### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import math

# File to Load (Remember to Change These)
file_to_load = "../../CWR-CLE-DATA-PT-01-2020-U-C/04-Pandas/Homework/HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
purchase_data["Price"].map('${:,.2f}'.format)


totalplayers = purchase_data["SN"].nunique()

totalplayers_df = pd.DataFrame({"Total Players" : [totalplayers]})

totalplayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
uniqueitems= purchase_data["Item Name"].nunique()
avgprice= purchase_data["Price"].mean()
totalpurchases = len(purchase_data["SN"])
totalrevenue = purchase_data["Price"].sum()

purchasing_df = pd.DataFrame({"Unique Items": [uniqueitems], "Average Price": [avgprice], "Total Purchases": [totalpurchases],"Total Revenue":[totalrevenue]})

purchasing_df["Average Price"] = purchasing_df["Average Price"].map('${:,.2f}'.format)
purchasing_df["Total Revenue"] = purchasing_df["Total Revenue"].map('${:,.2f}'.format)

purchasing_df

   Unique Items Average Price  Total Purchases Total Revenue
0           179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
genderstart=purchase_data[["SN","Gender"]]

gender_df = pd.DataFrame(genderstart)
gender_df.drop_duplicates(subset = "SN", keep = "first", inplace= True)
gender_df.rename(columns= {"SN" : "Total Players"}, inplace = True)

grouped_gender = gender_df.groupby("Gender")
counts = grouped_gender.count()

gender_purchase_df = pd.DataFrame(counts)

percentages = gender_purchase_df["Total Players"]/totalplayers_df["Total Players"].sum()

gender_purchase_df["Percentage of Total Players"] = percentages



gender_purchase_df.style.format({'Percentage of Total Players' : "{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
total_gender_df = purchase_data.groupby("Gender")


total_counts = pd.DataFrame(total_gender_df["Purchase ID"].count())
avgprice_gender = pd.DataFrame(total_gender_df["Price"].mean())
totalprice_gender = pd.DataFrame(total_gender_df["Price"].sum())


total_counts.rename(columns= {"Purchase ID" : "Purchase Count"}, inplace = True)
avgprice_gender.rename(columns= {"Price" : "Average Purchase Price"}, inplace = True)  
totalprice_gender.rename(columns= {"Price" : "Total Purchase Value"}, inplace = True)

all_together = pd.DataFrame()

all_together["Purchase Count"] = total_counts["Purchase Count"]
all_together["Average Purchase Price"] = avgprice_gender["Average Purchase Price"]
all_together["Total Purchase Value"] = totalprice_gender["Total Purchase Value"]

avg_purchase = all_together["Total Purchase Value"]/gender_purchase_df["Total Players"]
all_together["Average Total Purchase per Person"] = avg_purchase

all_together["Average Purchase Price"] = all_together["Average Purchase Price"].map('${:,.2f}'.format)
all_together["Total Purchase Value"] = all_together["Total Purchase Value"].map('${:,.2f}'.format)
all_together["Average Total Purchase per Person"] = all_together["Average Total Purchase per Person"].map('${:,.2f}'.format)

all_together

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [ ]:
## Age Demographics

In [7]:
* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

SyntaxError: invalid syntax (<ipython-input-7-3ab5cd5dfbfc>, line 1)

In [8]:
purchase_data["Age"].min()
purchase_data["Age"].max()

bins = [0,9,14,19,24,29,34,39,45]
group_names= ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins,labels=group_names)


age_grouped = purchase_data.groupby("Age Group").agg("nunique")
sn = pd.DataFrame(age_grouped[["SN"]])
perc_by_age = sn["SN"]/sn["SN"].sum()

sn["Percentage of Players"] = perc_by_age

sn.rename(columns= {"SN": "Total Count"}, inplace=True)

sn["Percentage of Players"] = sn["Percentage of Players"].map("{:.2%}".format)

sn

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
age_grouped_whole = purchase_data.groupby("Age Group")


age_total_counts = pd.DataFrame(age_grouped_whole["Purchase ID"].count())
avgprice_age = pd.DataFrame(age_grouped_whole["Price"].mean())
totalprice_age = pd.DataFrame(age_grouped_whole["Price"].sum())

purchase_data_whole = pd.DataFrame()

purchase_data_whole["PC"] = age_total_counts["Purchase ID"]
purchase_data_whole["APP"] = avgprice_age["Price"]
purchase_data_whole["TVP"] = totalprice_age["Price"]

percentages2 = purchase_data_whole["TVP"]/sn["Total Count"]

purchase_data_whole["Avg Total Purchase per Person"] = percentages2

purchase_data_whole["APP"] = purchase_data_whole["APP"].map('${:,.2f}'.format)
purchase_data_whole["TVP"] = purchase_data_whole["TVP"].map('${:,.2f}'.format)
purchase_data_whole["Avg Total Purchase per Person"] = purchase_data_whole["Avg Total Purchase per Person"].map('${:,.2f}'.format)


purchase_data_whole.rename(columns={"PC": "Purchase Count", "APP" : "Average Purchase Price", "TVP" : "Total Purchase Value"},inplace=True)


purchase_data_whole

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
purchase_sliced = purchase_data[["SN", "Price"]]
ps_grouped = purchase_sliced.groupby("SN")
ps_grouped.count()

sn_purchases = pd.DataFrame(ps_grouped["Price"].count())
sn_purchase_avg = pd.DataFrame(ps_grouped["Price"].mean())
sn_purchase_total = pd.DataFrame(ps_grouped.sum())

sn_purchases_df = pd.DataFrame()
sn_purchases_df["Purchase Count"] = sn_purchases["Price"]
sn_purchases_df["Average Purchase Price"] = sn_purchase_avg["Price"]
sn_purchases_df["Total Purchase Value"] = sn_purchase_total["Price"]

sn_purchases_df["Average Purchase Price"] = sn_purchases_df["Average Purchase Price"].map('${:,.2f}'.format)
sn_purchases_df["Total Purchase Value"] = sn_purchases_df["Total Purchase Value"].map('${:,.2f}'.format)

sn_purchases_df.sort_values(by= "Purchase Count", ascending=False, inplace=True)
sn_purchases_df

              Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                  5                  $3.79               $18.96
Iral74                     4                  $3.40               $13.62
Idastidru52                4                  $3.86               $15.45
Asur53                     3                  $2.48                $7.44
Inguron55                  3                  $3.70               $11.11
...                      ...                    ...                  ...
Hala31                     1                  $1.02                $1.02
Haisurra41                 1                  $4.40                $4.40
Hailaphos89                1                  $3.81                $3.81
Haestyphos66               1                  $1.97                $1.97
Iskosian40                 1                  $3.07                $3.07

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
popularity = purchase_data[["Item ID", "Item Name", "Price"]]
popularity_group = popularity.groupby(["Item ID", "Item Name"])

total_purchases = pd.DataFrame(popularity_group["Price"].count())
total_value = pd.DataFrame(popularity_group["Price"].sum())
price = total_value/total_purchases

pop_items = pd.DataFrame()
pop_items["Purchase Count"] = total_purchases["Price"]
pop_items["Item Price"] = price
pop_items["Total Purchase Value"] = total_value["Price"]

pop_items.sort_values(by= "Purchase Count" , ascending=False, inplace=True)
pop_items["Item Price"] = pop_items["Item Price"].map('${:,.2f}'.format)
pop_items["Total Purchase Value"] = pop_items["Total Purchase Value"].map('${:,.2f}'.format)

pop_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
...,...,...,...,...
104,Gladiator's Glaive,1,$1.93,$1.93
23,Crucifer,1,$1.99,$1.99
180,Stormcaller,1,$3.36,$3.36
91,Celeste,1,$4.17,$4.17
134,Undead Crusader,1,$4.50,$4.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
pop_items1 = pd.DataFrame()
pop_items1["Purchase Count"] = total_purchases["Price"]
pop_items1["Item Price"] = price
pop_items1["Total Purchase Value"] = total_value["Price"]

pop_items1.sort_values(by= "Total Purchase Value" , ascending=False, inplace=True)

pop_items1["Item Price"] = pop_items1["Item Price"].map('${:,.2f}'.format)
pop_items1["Total Purchase Value"] = pop_items1["Total Purchase Value"].map('${:,.2f}'.format)

pop_items1

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80
...,...,...,...,...
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
23,Crucifer,1,$1.99,$1.99
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75