### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import math
# File to Load (Remember to Change These)
file_to_load = "../../CWR-CLE-DATA-PT-01-2020-U-C/04-Pandas/Homework/HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
purchase_data["Price"].map('${:,.2f}'.format)


totalplayers = purchase_data["SN"].nunique()

totalplayers_df = pd.DataFrame({"Total Players" : [totalplayers]})
totalplayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
uniqueitems= purchase_data["Item Name"].nunique()
avgprice= purchase_data["Price"].mean()
totalpurchases = len(purchase_data["SN"])
totalrevenue = purchase_data["Price"].sum()


### make a currency... figure it out!

purchasing_df = pd.DataFrame({"Unique Items": [uniqueitems], "Average Price": [avgprice], "Total Purchases": [totalpurchases],"Total Revenue":[totalrevenue]})
purchasing_df

   Unique Items  Average Price  Total Purchases  Total Revenue
0           179       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
genderstart=purchase_data[["SN","Gender"]]

gender_df = pd.DataFrame(genderstart)


grouped_gender = genderstart.groupby("Gender", as_index = False).agg(['nunique'])
new_index_reset = grouped_gender.reset_index()

grouped_df = pd.DataFrame(new_index_reset)

new_grouped = grouped_df.rename(columns={"nunique": "Total Count"})
new_grouped

new_grouped= new_grouped.astype({"SN": int})


new_grouped["SN"].dtypes #int64
#type(totalplayers) #int

pcotp= []

for row in new_grouped:
    percent = row[1]/totalplayers
    pcotp.append(percent)
print(pcotp)


#.... dtype for "SN" = int64,

TypeError: unsupported operand type(s) for /: 'str' and 'int'


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
total_gender_df = purchase_data.groupby("Gender")

total_counts = total_gender_df["Purchase ID"].count()
avgprice_gender = total_gender_df["Price"].mean()
totalprice_gender = total_gender_df["Price"].sum()
avgpurchase_gender = totalprice_gender/#need the unique counts

#create dataframe to display
#format $

SyntaxError: invalid syntax (<ipython-input-7-41d25480c698>, line 6)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [29]:
purchase_data["Age"].min()
purchase_data["Age"].max()

bins = [0,9,14,19,24,29,34,39,45]
group_names= ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins,labels=group_names)


age_grouped = purchase_data.groupby("Age Group")
age_grouped["Purchase ID"].count()
# NOT UNIQUE SN

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:

age_total_counts = age_grouped["Purchase ID"].count()
avgprice_age = age_grouped["Price"].mean()
totalprice_age = age_grouped["Price"].sum()
avgpurchase_age = totalprice_age/#need the unique counts

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [48]:
sngrouped = purchase_data.groupby("SN")

purchase_count = sngrouped["Purchase ID"].count()
purchase_avg = sngrouped["Price"].mean()
purchase_total = sngrouped["Price"].sum()

#when putting in a dataframe, printing horizontally not vertically. need individual pieces to print vertically. 

purchase_summary = pd.DataFrame({"Total Purchases": [purchase_count]})
purchase_summary

                                     Total Purchases
0  SN
Adairialis76     1
Adastirin33      1
Aeda9...

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [58]:
popularity = purchase_data[["Item ID", "Item Name", "Price"]]

popularity_group = popularity.groupby(["Item ID", "Item Name"])

popularity_group["Total Purchases"] = popularity_group.count()
popularity_group

TypeError: 'DataFrameGroupBy' object does not support item assignment

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80